<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="day_d" value="7" />
    <add key="month_d" value="12" />
    <add key="quartal_d" value="8" />
    <add key="year_d" value="10" />
    <add key="path" value="c:\Users\mposo\Downloads\" />
    <add key="ext" value="7z" />
  </appSettings>
</configuration>